<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
    </div>
    <div>
      <head><!-- Include Plotly.js --><script src="https://cdn.plot.ly/plotly-latest.min.js"></script></head>
      <body>
        <div id="myDiv" style="width:800px;height:600px;">      <!-- Plotly chart will be drawn inside this DIV -->  </div>
       <script>
       var x_to_show = [<%- xval %>];
       var y_to_show = [<%- yval %>];
       var y_first = y_to_show[1];
       var y_last = y_to_show.slice(-1)[0];
       var color_to_print = "#67001f"
       if (y_last >= y_first){
           color_to_print = "#67001f"
       }else{
           color_to_print = "#053061"
       }

       var trace = { x: x_to_show,   y: y_to_show, mode: 'line', marker: {color: color_to_print,size: 12}    };
       var data = [ trace ];
       Plotly.newPlot('myDiv', data);
     </script>
     <fieldset>
         <% if(howlong !== null){ %>
            <h3> Frequency of term '<%=keyword %>' has <%=upordown %> by <%= ratio %>% in the past 3 months</h3>
            <p> Search with Long-term DB took <%= howlong %> ms</p>
           <% } %>
           <% if(error !== null){ %>
             <p><%= error %></p>
     <% } %>
   </fieldset><fieldset>
    <form action="/" method="">
      <button class="btn default">Start Over</button>
      </form>
    </fieldset>


  </body>
</html>
